body {
  /* text-align: center; */
}

#main_display {
  display: flex;
}
#h1_my_store {
  text-align: center;
  color: blue;
  /* background-color: brown; */
}

#div_ul_item_list {
  /* text-align: left; */
  background-color: cornsilk;
  border-color: black;
  border-style: solid;
  min-height: 130px;
  min-width: 150px;
}

#cart {
  /* background-color: rgb(189, 107, 107); */
  margin-left: 50px;

  /* border-color: black;
  border-style: solid; */
}

#div_ul_cart {
  background-color: aquamarine;
  border-color: black;
  border-style: solid;
  min-height: 100px;
  min-width: 180px;
}

#total {
  /* display: block; */

  /* position: absolute;
  left: 50px; */
  margin-left: 50px;
}

#div_total_spm {
  /* background-color: fuchsia; */
  min-width: 100px;
  border-color: black;
  border-style: solid;
  background-color: hotpink;
  display: block;
  position: absolute;
  margin-top: 15px;
}

#total_spm {
  /* width: 50px;
  border-color: black;
  border-style: solid;
  background-color: hotpink;
  display: block;
  position: absolute;
  margin-top: 15px; */
}

#button_add {
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 50%;
  /* font-style: unset; */
}

#button_reset_to_defult {
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 30%;
}
